body{
    font-size: x-large;
    background-color: #3e4a61;
}

#container{
    width:500px;
    text-align: center;
    border:1px solid black;
    margin:0;
    position:absolute;
    top:20%;
    left: 40%;
    background-color: #1a2639;
}

#inputContainer{
    background-color:#d9dad7;
    border-radius:4px;
    width:80%;
    margin:2px auto;
    padding:4px 4px;
}

#about{
    background-color: #c24d2c;
    border-radius: 4px;
    width: 80%;
    margin:4px auto;
    margin-top:10px;
    padding:4px 4px;
    color:white;
}

#heading{
    color:white;
}

